accelerate==0.13.2
certifi==2023.7.22
charset-normalizer==3.2.0
filelock==3.12.2
fsspec==2023.6.0
huggingface-hub==0.16.4
idna==3.4
Levenshtein==0.21.1
numpy==1.24.4
packaging==23.1
psutil==5.9.5
PyYAML==6.0.1
rapidfuzz==3.2.0
regex==2023.8.8
requests==2.31.0
tokenizers==0.13.3
torch==1.12.1
tqdm==4.66.1
transformers==4.23.1
typing-extensions==4.7.1
urllib3==2.0.4
